body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

header {
  background-color: cadetblue;
  color: white;
  padding: 20px;
}

.backArrow {
  color: white;
  padding: 0 0.5rem 0 0.5rem;
}

.movie-list {
  display: grid;
  grid-template-columns: auto;
  padding-inline-start: 0px;
  padding: 0px 10px;
}

.movie-element {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: grey 5px 5px 10px;
}

.movie-title {
  text-align: center;
  padding: 5px 0px;
}

a {
  text-decoration: none;
  color: black;
}

.movie-details {
  text-align: center;
}

#player {
  box-shadow: grey 5px 5px 10px;
  margin: 1rem 0;
  min-width: 280px;
  max-width: 640px;
}

.movie-details-description {
  box-shadow: grey 5px 5px 10px;
  padding: 0.5rem;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .movie-list {
    grid-template-columns: auto;
  }

  .movie-image {
    float: left;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  #player {
    min-height: 240px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #player {
    min-height: 390px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .movie-list {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .movie-list {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .movies {
    padding: 0px 10%;
  }
}
