body {
  padding: 0;
  margin: 0;
  background-image:url("../img/space-background-website.jpeg");
  background-color: whitesmoke;
}

header {
  background-color: #6C6EA0;
  color: white;
  padding: 20px;
  box-shadow: grey 5px 5px 10px;
  
}

.h1-class {
text-align : center;
}

.andreas-head {
  height: 50%;
  margin: 0px 25px;
}

.backArrow {
  color: white;
  padding: 0 1rem 0 0.5rem;
}

.movie-list {
  display: grid;
  grid-template-columns: auto;
  padding-inline-start: 0px;
  padding: 0px 10px;
}

.movie-element {
  background-color : #DCD6F7;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: grey 5px 5px 10px;
}

.movie-title {
  text-align: center;
  padding: 5px 0px;
}

a {
  text-decoration: none;
  color: black;
}

#movieTitle {
  text-align: center;
}

.movie-details {
  display: grid;
  grid-template-columns: auto auto;
}

.movie-details {
  display: grid;
  grid-template-columns: auto;
}

#player {
  box-shadow: grey 5px 5px 10px;
  margin: 1rem 0;
  min-width: 280px;
  max-width: 640px;
  justify-self: center;
}

.movie-details-description {
  box-shadow: grey 5px 5px 10px;
  padding: 0.5rem;
  justify-self: center;
}

.movie-button {
  background: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  position: absolute;
  padding: 15px 40px;
  margin-top: 600px;
  margin-left: 25vw;
  box-shadow: grey 5px 5px 10px;
}
.movie-button:hover {
  background-color: cadetblue;
  color: white;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .movie-list {
    grid-template-columns: auto;
  }

  .movie-image {
    float: left;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  #player {
    min-height: 240px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #player {
    min-height: 390px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .movie-list {
    grid-template-columns: 50% 50%;
  }

  .movie-image {
    height: 600px;
  }

  .movie-button {
    margin-top: 500px;
    margin-left: 15vw;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .movie-image {
    height: 700px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .movie-list {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .movie-details {
    display: grid;
    grid-template-columns: 50vw 50vw;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .movies {
    padding: 0px 10%;
  }
}
