body {
  padding: 0;
  margin: 0;
  background-image: url("../img/space-background-website.jpeg");
  background-color: whitesmoke;
}

header {
  background-color: #000;
  color: white;
  padding: 5px 20px;
  box-shadow: rgb(48, 47, 47) 5px 5px 10px;
}

.h1-class {
  text-align: center;
}

.andreas-head {
  height: 60px;
  margin: 0px 5px;
}

.backArrow {
  color: white;
  padding: 0 1rem 0 0.5rem;
}

.movie-list {
  display: grid;
  grid-template-columns: auto;
  padding-inline-start: 0px;
  padding: 0px 10px;
}

.movie-element {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: rgb(68, 67, 67) 5px 5px 10px;
}

a {
  text-decoration: none;
  color: black;
}
.movie-title {
  text-align: center;
  color: white;
}

#movieTitle {
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}

.movie-container {
  background-color: #000000;
  margin: 1% 5%;
  padding: 20px 0 20px 0px;
  box-shadow: rgb(48, 47, 47) 5px 5px 10px;
}

.movie-details {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #000000;
  color: white;
  padding: 10px 0 100px 0px;
}

.movie-details {
  display: grid;
  grid-template-columns: auto;
}

#player {
  margin: 1rem 0;
  min-width: 280px;
  max-width: 640px;
  justify-self: center;
}

.movie-details-description {
  padding: 1rem;
  justify-self: center;
  color: white;
  margin: 1rem 0px;
  margin-right: 5%;
  font-size: 20px;
}

.movie-button {
  background: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  position: absolute;
  padding: 15px 40px;
  margin-top: 600px;
  margin-left: 25vw;
  box-shadow: rgb(68, 67, 67) 5px 5px 10px;
}
.movie-button:hover {
  background-color: cadetblue;
  color: white;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .movie-list {
    grid-template-columns: auto;
  }

  .movie-image {
    float: left;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  #player {
    min-height: 240px;
  }

  .h1-class {
    font-size: 20px;
  }

  .andreas-head {
    height: 20px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #player {
    min-height: 390px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .movie-list {
    grid-template-columns: 50% 50%;
  }

  .movie-image {
    height: 600px;
  }

  .movie-button {
    margin-top: 500px;
    margin-left: 15vw;
  }

  .h1-class {
    font-size: 30px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .movie-image {
    height: 700px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .movie-list {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .movie-details {
    display: grid;
    grid-template-columns: 50vw auto;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .movies {
    padding: 0px 10%;
  }
}
